[Unit]
Description=Forward Password Requests to Wrapper
Documentation=man:systemd-ask-password-wrapper.service(8)
After=systemd-user-sessions.service

[Service]
ExecStartPre=-systemctl stop systemd-ask-password-console.path systemd-ask-password-console.service systemd-ask-password-plymouth.path systemd-ask-password-plymouth.service systemd-ask-password-wall.path systemd-ask-password-wall.service
ExecStart=/usr/bin/systemd-ask-password-wrapper /usr/bin/unl0kr
SystemCallArchitectures=native
